Req. 34, Discussion Items 2 - 4

Question during community review: Should the community consider updating RFC 8713 to empower the NomCom to independently run a formal community consensus process for annually confirming or changing (adding/deleting) requirements shared by the IESG, IAB, IETF Trust, and IETF LLC after they have been provided by those bodies to the NomCom? 

Question during community review: Or, instead of the NomCom running that annual community consensus process, should the community consider updating RFC 8713 to require that each body (IAB, IESG, IETF Trust, IETF LLC) run their own annual community consensus process to confirm or change the requirements that they will send to the NomCom? Or is that best left to each group to determine on their own without changing RFC 8713?

Question during community review: Or, should the community consider updating RFC 8713 to empower the NomCom to run an annual formal community consensus process to independently define the roles and responsibilities for IESG, IAB, IETF Trust, and IETF LLC roles (for example updating the roles and responsibilities of BCP 39 for the IAB)? As a result, each body would not need to provide requirements to the NomCom, as the NomCom itself would be empowered to independently define those requirements.

From the document:
> Discussion Area 1: The NomCom process is defined in RFC 8713. Section 3.2 states that “The NomCom will be given the titles of the positions to be reviewed and a brief summary of the desired expertise of the candidate that is selected to fill each position”. This means that each group with a position up for consideration (IESG, IAB, IETF Trust, IETF LLC) provides the NomCom with their summary of desired expertise. In the case of the IETF LLC, the requirements shared with the NomCom have been developed based on RFC 8711 and the document used in the past is available here (derived from the Board responsibilities in RFC 8711, Section 4.3 and Section 5.2). The Board may additionally prioritize or emphasize certain skills and experience. For example, in the last NomCom cycle, the Board emphasized the need for non-profit fundraising experience based on the knowledge that a new funding agreement with ISOC was being negotiated, that this included a novel new fundraising matching program that the LLC wanted to leverage, that a role for a Director of Development needed to be defined and then recruited for, and that an initial new fundraising strategy and plan needed to be developed.

`Question during community review (Respond at https://github.com/ietf-llc/IASA2-Retrospective/issues/3): Should the community consider updating RFC 8713 to empower the NomCom to independently run a formal community consensus process for annually confirming or changing (adding/deleting) requirements shared by the IESG, IAB, IETF Trust, and IETF LLC after they have been provided by those bodies to the NomCom?`

`Question during community review (Respond at https://github.com/ietf-llc/IASA2-Retrospective/issues/3): Or, instead of the NomCom running that annual community consensus process, should the community consider updating RFC 8713 to require that each body (IAB, IESG, IETF Trust, IETF LLC) run their own annual community consensus process to confirm or change the requirements that they will send to the NomCom? Or is that best left to each group to determine on their own without changing RFC 8713?`

`Question during community review (Respond at https://github.com/ietf-llc/IASA2-Retrospective/issues/3): Or, should the community consider updating RFC 8713 to empower the NomCom to run an annual formal community consensus process to independently define the roles and responsibilities for IESG, IAB, IETF Trust, and IETF LLC roles (for example updating the roles and responsibilities of BCP 39 for the IAB)? As a result, each body would not need to provide requirements to the NomCom, as the NomCom itself would be empowered to independently define those requirements.`

Community feedback was that this was not the correct path. Rather, the LLC should run an annual process to get community input on requirements being passed to the NomCom. That was performed for the 2021 NomCom at https://github.com/ietf-llc/NomCom-Requirements