Req. 34, Discussion Item 1

Question during community review / proposed action: The IETF LLC proposes running an annual process (slated for July) in advance of the start of annual NomCom nominations (typically late August) for the community to comment on the requirements that will be sent to the NomCom for IETF LLC director roles. Does the community have any concerns with the Board doing so, provided that the requirements remain within the scope of the relevant LLC-related BCPs/RFCs? In addition, should this annual process be formally defined in a new LLC policy that is open to community review and consensus?

From the document:
> Discussion Area 1: The NomCom process is defined in RFC 8713. Section 3.2 states that “The NomCom will be given the titles of the positions to be reviewed and a brief summary of the desired expertise of the candidate that is selected to fill each position”. This means that each group with a position up for consideration (IESG, IAB, IETF Trust, IETF LLC) provides the NomCom with their summary of desired expertise. In the case of the IETF LLC, the requirements shared with the NomCom have been developed based on RFC 8711 and the document used in the past is available here (derived from the Board responsibilities in RFC 8711, Section 4.3 and Section 5.2). The Board may additionally prioritize or emphasize certain skills and experience. For example, in the last NomCom cycle, the Board emphasized the need for non-profit fundraising experience based on the knowledge that a new funding agreement with ISOC was being negotiated, that this included a novel new fundraising matching program that the LLC wanted to leverage, that a role for a Director of Development needed to be defined and then recruited for, and that an initial new fundraising strategy and plan needed to be developed.

`Question during community review / proposed action (Respond at https://github.com/ietf-llc/IASA2-Retrospective/issues/2): The IETF LLC proposes running an annual process (slated for July) in advance of the start of annual NomCom nominations (typically late August) for the community to comment on the requirements that will be sent to the NomCom for IETF LLC director roles. Does the community have any concerns with the Board doing so, provided that the requirements remain within the scope of the relevant LLC-related BCPs/RFCs? In addition, should this annual process be formally defined in a new LLC policy that is open to community review and consensus?`

Assigning to @seanturner as liaison to the NomCom


Assigning to @maja-an 

Consultation planned for 2 August through 15 August. 
Then incorporate any changes & send to the NomCom.
Maja & Peter will be on-point to lead this. 



Draft: 

Email that Liz would send to ietf-announce and admin-discuss. While it would go out from the board chair address it would be signed by Maja & Peter, as they will lead the consultation for the LLC Board.

Subject: IETF NomCom LLC Role Requirements Consultation
As noted in our recent IASA2 retrospective (Requirement 34, discussion item 1) [1][2], the IETF LLC Board is following through to initiate the first of what we expect will be an annual process of seeking input on the IETF LLC board role requirements that are sent to the IETF NomCom each year. This consultation runs from 2 August to 15 August, 2021.

The current role requirements [3] have remained the same since the LLC started and is based on both what appears in IASA2-related RFCs/BCPs as well as typical non-profit board needs. 

Please review the current role requirements [3] and let us know if you suggest any changes. You can provide feedback either by commenting in the open GitHub issue [2] or via email to admin-discuss@ietf.org. If you wish to comment, please do so by end of day 15 August 2021.

Thank you, 
Maja & Peter on behalf of the IETF LLC Board

[1] https://github.com/ietf-llc/IASA2-Retrospective/blob/main/draft-iasa2-retrospective.md
[2] https://github.com/ietf-llc/IASA2-Retrospective/issues/2
[3] https://github.com/ietf-llc/IASA2-Retrospective/blob/main/References/LLC%20Director%20Role%20Description.pdf

Take note of repo for this at https://github.com/ietf-llc/NomCom-Requirements

FYI @ flynnliz


This consultation is on-going until 15 August 2021... https://github.com/ietf-llc/NomCom-Requirements

See also https://mailarchive.ietf.org/arch/msg/ietf-announce/i60EmPaVHYKND5pim7NfCdiMDMM/


Feedback was incorporated and an updated doc sent to the NomCom.
@seanturner to confirm & close this issue if so confirmed.

Confirmed closed by @seanturner 